body{
    background-color: #212530;
    animation: fadez 1s;
}
@keyframes fadez{
    0% {opacity: 0;}
    100% {opacity:1}
}

.navbar{
    background-color: #212530;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2px;
    z-index: 8;
    height: 100px;

}

.home,.sponsor,.events,.contact-us{
    margin-right: 50px;
}

#ac{
    color: #fefafa;
    text-decoration: none;
    text-decoration-color: goldenrod;
    font-weight: bold;
    font-size: 1.15rem;
}

.mew{
    transition-duration: 300ms;
    transition-timing-function: ease-in;

}

.mew:hover{
    text-decoration: underline;
    text-decoration-color: #fefafa;
    text-decoration-thickness: 3px;
}

.logo img{
    height: 100px;
    width: 100px;
}

h1{
    text-align: center;
    color: goldenrod;
    font-family: 'Poppins';
    font-size: 2.4rem;;
}



th{
    
    font-size: 1.6rem;
    text-align: center;
    padding-right: 100px;
    font-weight: 400;
    font-family: 'Anek Devanagari', sans-serif;;;
    color: #fefefa;
}

td{
    
    font-size: 1.25rem;
    text-align: center;
    padding-right: 100px;
    font-family: 'Anek Devanagari', sans-serif;;;
    color: #fefafacc;
}
.SK{
    background: rgba(255, 255, 255, 0.001);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}


.gmb{
    display: flex;
    justify-content: space-evenly;
    height: 280px;
    flex-wrap: wrap;
}

iframe{
    border-radius: 4%;
    height: 330px;
}

.nani{
    display: flex;
    justify-content: space-evenly;
}

.arjun{
    background: rgba(255, 255, 255, 0.001);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30%;
    /* margin-left: 3%; */
    
}

#arj{
    margin-left: 5%;
    font-weight: 600;
    font-size: 1.9rem;
    font-family: 'Anek Devanagari', sans-serif;;;
    display: flex;
    align-items: center;
    color: #fefefa;
}



#ar{
    margin-left: 5%;
    font-size: 1.35rem;
    font-family: 'Anek Devanagari', sans-serif;;;
    font-weight: 400;
    color: #fefafacc;
}

.murari{
    background: rgba(255, 255, 255, 0.001);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30%;
    
}

#takkari{
    margin-left: 10%;
    font-size: 1.35rem;
    font-family: 'Anek Devanagari', sans-serif;;;
    font-weight: 400;
    color: #fefafa;
    text-decoration: none;
}

#tak{
    
    padding:10px;
    background-color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 40px;
    margin-left: 45%;
    font-size: 1.35rem;
    font-family: 'Anek Devanagari', sans-serif;;;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.dookudu{
    background: rgba(255, 255, 255, 0.001);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30%;
   
}

#businessman{
    margin-left:18%;
    font-size: 1.35rem;
    font-family: 'Anek Devanagari', sans-serif;;;
    font-weight: 400;
    color: #fefafa;
    text-decoration: none;
}

img{
    height: 30px;
    width: 30px;
}

#svp{
    margin-left: 8%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}