body{
    background-color: #212530;
}

.navbar{
    background-color: #212530;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2px;
    z-index: 8;
    height: 100px;

}

.home,.sponsor,.events,.contact-us{
    margin-right: 50px;
}

#ac{
    color: #fefafa;
    text-decoration: none;
    text-decoration-color: goldenrod;
    font-weight: bold;
    font-size: 1.15rem;
}

.mew{
    transition-duration: 300ms;
    transition-timing-function: ease-in;

}

.mew:hover{
    text-decoration: underline;
    text-decoration-color: #fefafa;
    text-decoration-thickness: 3px;
}

.logo img{
    height: 100px;
    width: 100px;
}