body{
    background-color: #fefafa;
}

.navbar{
    background-color: #fefafa;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2px;
    z-index: 8;
    height: 100px;

}

.home,.sponsor,.events,.contact-us{
    margin-right: 50px;
}

#ac{
    color: #212530;
    text-decoration: none;
    text-decoration-color: goldenrod;
    font-weight: bold;
    font-size: 1.15rem;
}

.mew{
    transition-duration: 300ms;
    transition-timing-function: ease-in;

}

.mew:hover{
    text-decoration: underline;
    text-decoration-color: #212530;
    text-decoration-thickness: 3px;
}

.logo img{
    height: 100px;
    width: 100px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.4rem;
    text-align: center;
    color: goldenrod;
}

.final{
    margin-top: 10%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;    

}

#log{
    width: 100%;
    height: 100px;
    transition: ease 0.5s;
    
}

#log:hover{
    height: 120px;
    width: 120px;
    filter: drop-shadow(10px 7px 10px gray);
}
