*{
    background-color: whitesmoke;
    color: goldenrod;
    margin: 0;
}
body{
    background-image: url(pictures/Mining.svg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: 800px 150px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.links{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.home,.sponsor,.events,.contact-us{
    margin-right: 50px;
}
.logo img{
    height: 100px;
    width: 100px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
}


.logo-name span{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 3rem;
    font-weight: bold;
}

.logo-name p{
    color: azure;
    font-size: 1.15rem;
}

.logo-name img{
    height: 400px;
    width: 480px;
    position: absolute;
    top: 150px;
    left: 62%
}

#cursor{
    font-weight: 100;
}

#typing-title{
    font-family: 'Bitter', serif;
    
}

.info{
    height: 300px;
    width: 55%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    z-index: 8;
    
    
}

.info p{
    color: #04061f;
    font-size: 1.20rem;
    font-weight: bold;
    margin-left: 6%;
    z-index: 8;
    
}



