*{
    background-color: #fff9fb;
    color: goldenrod;
    margin: 0;
}

.navbar{
    position: fixed;
    height: 120px;
    z-index: 8;
    top: 0;
    display: flex;
    justify-content: space-between;
      
}
.links{
    
    margin-left: 700px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.home,.sponsor,.events,.contact-us{
    margin-right: 50px;
}

.logo img{
    height: 100px;
    width: 100px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
}


.logo-name span{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 3rem;
    font-weight: bold;
}

.logo-name p{
    color: azure;
    font-size: 1.15rem;
}

.logo-name img{
    height: 400px;
    width: 480px;
    position: absolute;
    top: 150px;
    left: 62%
}

#cursor{
    font-weight: 100;
}

#typing-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.info{
    height: 350px;
    width: 70%;
    font-family: 'Anek Devanagari', sans-serif;;
    /* background-color: #baafa3; */
    color: black;
    font-size: 1.20rem;
    font-weight: 600;
    margin-left: 4%;
    z-index: 8;
}

.mew{
    transition-duration: 300ms;
    transition-timing-function: ease-in;

}

.mew:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.pic2{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 730px;
    
}

.pic3{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 360px;
    left: 820px;
    box-shadow: 4px 4px lightgray;
}

.logo:hover{
    cursor:pointer;
}

.hidden{
    opacity: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.trans{
    animation: fadeIn 3s;
}

@keyframes slide1 {
    0% {top : -200px}
    100% {top : 100px}
}

.pics2{
    animation: slide1 3s;
    
}

@keyframes slide2 {
    0% {left : -200px}
    100% {left : 820px}
}

.pics3{
    animation: slide2 3s;
    
}


  






