*{
    background-color: #fefefa;
    color: #212530;
    margin: 0;
}

.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2px;
    z-index: 8;
    height: 100px;

}

.home,.sponsor,.events,.contact-us{
    margin-right: 50px;
}

.logo img{
    height: 100px;
    width: 100px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
}


.logo-name span{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 3rem;
    font-weight: bold;
}

#cursor{
    font-weight: 100;
}

#typing-title{
    color: #212530;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.logo-name{
    margin-top: 20px;
}

#page1pic1{
    height: 400px;
    width: 30%;
    position: absolute;
    top: 33%;
    left: 50%;
}
#page1pic2{
    height: 250px;
    width: 20%;
    position: absolute;
    top: 15%;
    left: 74%;
}

.venue{
    margin-top: 7%;
    margin-left: 3%;
    font-family: 'Anek Devanagari', sans-serif;;
    font-size: 1.8rem;
    font-weight: 600;
}

.disk{
    display: none;
}
.passage{
    margin-top: 20%;
}

.info{
    border-radius: 2%;
    background-color: goldenrod;
    display: flexbox;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
    font-family: 'Anek Devanagari', sans-serif;;
    color: #21252c;
    font-size: 1.20rem;
    font-weight: 600;
    margin-left: 12%;
    z-index: 8;
    
}

.mew{
    transition-duration: 300ms;
    transition-timing-function: ease-in;

}

.mew:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.pic2{
    height: 280px;
    width: 300px;
    position: absolute;
    top: 720px;
    left: 58%;
    box-shadow: 10px 10px 10px 10px gray;
    
}

.pic3{
    height: 250px;
    width: 300px;
    position: absolute;
    top: 900px;
    right: 12%;
    box-shadow: 10px 10px 10px 10px gray;
}

.logo:hover{
    cursor:pointer;
}

.hidden{
    display: none;
}

.show{
    opacity: 1;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    50%{
        opacity: 0.8;
        scale: 1.2;
    }
    100% { opacity: 1;
            scale: 1;
    }
}

.trans{
    animation: fadeIn 1.4s;
}

@keyframes slide1 {
    0% {left : 48%}
    100% {left : 58%}
}

.pics2{
    animation: slide1 3s;
    transition: ease-in-out 1s;
}

@keyframes slide2 {
    0% {right : 0%}
    100% {right : 12%}
}

.pics3{
    animation: slide2 3s;
    transition: ease-in-out 1s;
}

.ign{
    /* background-color: #0d8543; */
    color: black;
    font-size: 1.6rem;
    font-weight: 900;
}

.pic3:hover{
    scale: 1.15;
}

.pic2:hover{
    scale: 1.15;
    z-index: 5;
}

@keyframes fadez{
    0% {opacity: 0;}
    100% {opacity:1}
}

.fade{
    animation: fadez 1s;
}

.letsgo{
    margin-top: 5%;
    margin-left: 20%;
}

.letsgo a{
    padding: 1%;
    border: 1px solid #808080;
    color: #808080;
    border-radius: 4.5%;
    transition: ease-in-out 0.25s;
}

.letsgo a:hover{
    background-color: #808080;
    color: white;
}

